* {
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

body {
	margin: 0;
	padding: 30px;
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: #000000f6;
	color: #FFF;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


main {
	background: radial-gradient(rgba(37, 36, 36, 0),rgba(0, 0, 255, 0.096),#300f4599 );
	padding: 30px;
	width: 700px;;
	border-radius: 20px;
	border: 1px double rgba(197, 197, 194, 0.065);
}

form{
	display: flex;
	margin-bottom: 10px;
}

form input {
	display: block;
	width:calc(100% - 100px);
	font-size: 1rem;
	padding: 5px;
	align-items: stretch;
	background-color: rgba(0, 0, 0, 0.026);
	border: 1px solid rgba(255, 252, 252, 0.259);
	color: white;
	font-size: 15px;
}

form button {
	width:100px;
	display: block;
	font-size: .7rem;
	border: 1px solid rgb(44, 62, 126);
	background-color: transparent;
	color: rgb(198, 197, 201);
}

#task-list{
	margin: 0;
	padding: 0;
}

#task-list li {
	border-bottom: 2px dotted rgba(81, 100, 141, 0.3);
	padding: 10px 0;
	display: flex;
}
#task-list li:hover{
	background-color: rgba(255,255,255,.1);
}

#task-list li input{
	position: relative;
	top:3px;
	margin-right: 6px;
}

#task-list li input:checked + label{
	text-decoration: line-through;
	color: rgba(126, 112, 115, 0.545);
}

#task-list li label{
	flex-grow: 1;
}

#task-list li i{
	
	padding: 0 5px;
	cursor: pointer;
	opacity: .8;
}

#task-list li i:hover{
	opacity: 1;
}